.home{
   height: 600px;

}
.songpic{
height: 100px;
width:auto;
}
.mycart{
   margin-top: 200px;
}
.player-heading{
   margin-bottom: 30px;
}
.detail-image{ 
   width: 180px;
   height: 180px;
   border-radius: 100px;
   background-repeat: no-repeat;
   object-fit:cover;
   background-size:100% 100%;
   margin-bottom: 50px;
}

.main-player{
  
   position: relative;
   top:-610px;
  
}


.minimize{
   justify-content: left;
}
.songlistbox{

  width: 350px;
  position: relative;
  
  top: 40px;
}
.song-list-box{
   width: 450;
   height: 610px;

}

.home-title{
   margin-bottom: 20px;
   
}
.listing{
  border-radius: 50px;
 
   height: 540px;
   overflow: scroll;
   overflow-x: hidden;
  position: relative;
  top: 00px;
  margin-top: 5px;
}
.top-controls{
   position: relative;
   left: -150px;
   top:5px

}
.next-song{
   position: relative;
   top: 100px;
}

#listitem{
   height:auto;
   background-color: aqua;   
   box-shadow: black 3px 3px;
   width: 300px;
   margin-bottom: 10px;
   background-color: white;
   border-radius: 20px;
}