.home{
   height: 600px;

}
.songpic{
height: 100px;
width:auto;
}
.mycart{
   margin-top: 200px;
}
.player-heading{
   margin-bottom: 30px;
}
.detail-image{ 
   width: 180px;
   height: 180px;
   border-radius: 100px;
   background-repeat: no-repeat;
   object-fit:cover;
   background-size:100% 100%;
   margin-bottom: 50px;
    box-shadow: 5px 5px 12px black;
}

.main-player{
  
   position: relative;
   top:-610px;
  
}


.minimize{
   justify-content: left;
}
.songlistbox{

  width: 350px;
  position: relative;
  top: 40px;
}
.song-list-box{
   width: 450;
   height: 540px;
}

.home-title{
   margin-bottom: 20px;
}

.listing{
  border-radius: 50px;
  
   height: 450px;
   overflow: scroll;
   overflow-x: hidden;
  position: relative;
  top: 00px;
  margin-top: 5px;
}
.top-controls{
   position: relative;
   left: -150px;
   top:5px

}
.next-song{
   position: relative;
   top: 50px;
}

#listitem{
   min-height:70px;
     
   box-shadow: black 2px 5px;
   width: 300px;
   margin-bottom: 10px;
   
   border-radius: 7px;
}

button{
   outline:none;
   background-color: brown;
}
#playing-icon{
   position: relative;
   right: 130px;
   top: 30px;
}

.progresser_container{
   width:100%;
   height: auto;
   padding:1rem 0;
   margin-top: 1rem;
}